*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;

}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.accueil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil img {
    width: 35px;
    height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger {
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;


}

.burger img {
    width: 20px;
    height: 12px;
    cursor: pointer;

}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    height: 50px;
    position: relative;
}



header {
    height: 304px;
    width: 100%;
    position: relative;
}

nav {
    height: 50px;
    width: 100%;
    position: relative;
}


#nav_menu {
    /* affiche le menu quand la classe show est ajoutée */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfd5d3;
    position: absolute;
    width: 50%;
    z-index: 1;
    top: 50px;
    left: 0;
    border-radius: 0 10px 10px 0;
    border-top: none;

    /* Menu caché à gauche et invisible */
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;


}

#nav_menu.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;


}

.lien_accueil,
.autres_liens {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-decoration: none;
    color: black;
    font-family: "Inter", cursive;
    border-top: 1px solid white;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_menu a:first-child {
    border-top: none;
}

.home {
    background-image: url("../photos/home.png");
    background-size: cover;
    width: 100%;
    height: 254px;
    background-position: center;
    /* Centre l’image */
    background-repeat: no-repeat;
    /* Évite les répétitions */
    position: relative;
    padding-top: 85px;


}

.texte {
    display: flex;
    width: 42%;
    height: 73px;
    flex-direction: column;
    margin-left: 5%;
}

.texte1 {
    font-family: "Inter", cursive;
    color: #E9BD8C;
    font-size: 14px;
    font-weight: 600;

}

.texte2 {
    font-family: "Sansita Swashed", cursive;
    font-size: 26px;
    color: white;
    font-weight: 400;

}

.button a {
    font-family: "Inter", cursive;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 3px;
    border-radius: 8px;
    background-color: #933C24;
    border: 1px solid black;
    height: 30px;



}

.button {
    margin-left: 5%;
    margin-top: 21px;
    width: auto;


}

h1 span {
    display: block;
}



.texte3 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Sansita Swashed", cursive;
    color: black;
}

.container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 22px;
}

.tops_produits {
    height: 1885px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;



}

.big_container {
    background-image: url("../photos/fond_ecran_noir_carre.png");
    background-size: cover;
    background-position: center;
    /* Centre l’image */
    background-repeat: no-repeat;
    /* Évite les répétitions */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    font-family: "Inter", cursive;
    font-size: 16px;
}

.logo_info {
    width: 30px;
    height: 30px;
}

.ajouter {
    text-decoration: none;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    background-color: #933C24;
    border-radius: 4px;
}

.middle_container {
    display: flex;
    margin-top: 25px;
    width: 80%;
    flex-direction: column;
    gap: 20px;




}

.small_container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-right: 30px;


}

.small_container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;

}

.photo_produit1 {
    height: 158px;
    width: 160px;
}

.photo_produit2 {
    height: 160px;
    width: 180px;
}

.photo_produit4 {
    height: 161px;
    width: 160px;
}

.photo_produit5 {
    height: 159px;
    width: 160px;
}

.photo_produit6 {
    height: 160px;
    width: 160px;
}

.taille {
    width: 50%;
}

.reduction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../photos/offre_reduc.png");
    width: 100%;
    height: 379px;
    background-position: center;
    /* Centre l’image */
    background-repeat: no-repeat;
    background-size: cover;


}



.text1 h3 {
    font-size: 21px;
    font-weight: 500;
    color: #933C24;
    font-family: "Sansita Swashed", cursive;
    font-optical-sizing: auto;
    text-align: center;

}

.text1 {
    max-width: 374px;
    height: 10%;
    margin-top: 30px;
}

.text2 {
    max-width: 295px;
    height: 10%;
}

.text2 p {
    color: #5D5D5D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", cursive;
    text-align: center;
}

.en_savoir_plus {
    text-decoration: none;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Inter", cursive;
    background-color: #933C24;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;


}

.decouvrir {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;



}

.box {
    font-size: 24px;
    font-weight: 600;
    font-family: "Sansita Swashed", cursive;
    color: black;
    text-align: center;
}

.barre_navig {
    display: flex;
    gap: 30px;
    width: max-content;
    padding: 0 20px;
    position: relative;
    /*padding-left: max(20px, 35vw);
    padding-right: max(20px, 35vw);*/




}

.barre_navig::before,
.barre_navig::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: calc(50vw - 75px);
}


.navig,
.navig1 {
    font-size: 16px;
    text-decoration: none;
    font-family: "Poppins", cursive;
    color: #5D5D5D;
    font-weight: 600;
    white-space: nowrap;
    flex-shrink: 0;

}

.navigation {
    border-bottom: 1px solid #D9D9D9;
    width: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.navig1 {
    position: relative;
}



.navig1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background-color: #933C24;
    border-radius: 20px;
}


.gateaux img {
    width: 298px;
    height: 290px;

}

.gateaux {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 1890px;
}

.lire_plus {
    text-decoration: none;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Inter", cursive;
    background-color: #933C24;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.a_propos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url("../photos/a_propos.png");
    margin-top: 30px;
    height: 380px;
    width: 100%;
    background-position: center;
    /* Centre l’image */
    background-repeat: no-repeat;
    background-size: cover;

}

.text3 {
    width: auto;
}

.text4 {
    width: 279px;
}


.text3 h3 {
    color: white;
    font-size: 21px;
    font-weight: 600;
    font-family: "Sansita Swashed", cursive;
    text-align: center;

}

.text4 p {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", cursive;
    text-align: center;
}


.petits_plaisirs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 44px;
    height: fit-content;
    width: auto;
}

.plaisirs {
    gap: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.type_plaisirs img {
    height: 297px;
    width: 300px;
}

.type_plaisirs {
    display: flex;
    flex-direction: column;
    height: 329px;
    width: 300px;
    gap: 20px;
}

.prix {
    display: flex;
    justify-content: space-between;
}

.prix p {
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-family: "Inter", cursive;


}

.text5 h3 {
    color: black;
    font-size: 24px;
    font-weight: 600;
    font-family: "Sansita Swashed", cursive;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-image: url(../photos/fond_ecran_noir.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 30px;
    align-items: center;

}

.reseau img {
    width: 144px;
    height: 117px;
}

.reseau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E9BD8D;
    width: 95%;
    height: 230px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.suivre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 68px;
    gap: 14px;
}

.suivre h3 {
    color: #E9BD8C;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", cursive;
}

.logo_reseau {
    display: flex;
    justify-content: space-between;
    width: 258px;
}

.logo_reseau img {
    height: 37px;
    width: 42px;
}

.container_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    width: 100%;

}


.titre_footer {
    color: #E9BD8C;
    font-size: 36px;
    font-family: "Inter", cursive;
    font-weight: 700;
}

.box_titre_footer {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.infos_footer p {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", cursive;

}

.infos {
    width: 257px;
}



.box_detail_actualite {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


}

.detail_actualite {
    display: flex;
    width: 311px;
    gap: 20px;
}



.jour {
    color: #E9BD8C;
    font-size: 18px;
    font-family: "Poppins", cursive;
    font-weight: 400;
}

.produit {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", cursive;
}

#copyright {
    width: 60%;
    margin-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

#copyright p {
    color: #737373;
    font-size: 16px;
    font-family: "Inter", cursive;
    font-weight: 600;
}



@media (min-width:576px) and (max-width:992px) {

    .tops_produits {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
    }

    .gateaux {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .plaisirs {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .type_plaisirs {
        width: 280px;

    }

    .type_plaisirs img {
        width: 280px;

    }


}

@media (min-width:993px) {

    .tops_produits {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
    }

    .gateaux {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .plaisirs {
        flex-wrap: wrap;
        flex-direction: row;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    header {
        background-image: url("../photos/home.png");

        background-size: cover;
        width: 100%;
        background-position: center;
        /*Centre l’image */
        background-repeat: no-repeat;
        /* Évite les répétitions */
        position: relative;
        height: 813px;
    }

    .home {
        background-image: none;
        height: 713px;
        padding: 0px;
        padding-top: 250px;

    }

    #burger {
        display: none;
    }

    .accueil img {
        height: 120px;
        width: 110px;

    }

    .logo {
        height: 100px;
    }

    .texte {
        height: auto;
        margin-left: 60px;
    }

    .texte1 {
        font-size: 24px;

    }


    .texte2 {
        font-size: 74px;

    }

    .button {
        margin-left: 150px;
        margin-top: 100px;

    }

    .button a {
        font-size: 24px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav {
        display: flex;
        height: 100px;
        padding-top: 30px;
        align-items: center;
    }

    #nav_menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: none;
        position: relative;
        top: 0px;
        opacity: 1;
        background-color: transparent;
        transform: none;
        margin: 0 auto;

        gap: 30px;
        width: auto;


    }

    .autres_liens,
    .lien_accueil {

        text-decoration: none;
        color: white;
        font-family: "Poppins", cursive;
        border-top: none;
        font-size: 25px;
        background-color: transparent;
        font-weight: 600;

    }

    .lien_accueil {
        color: #E9BD8C;
    }

    .texte3 {
        font-size: 64px;

    }

    .container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .big_container {
        width: 350px;
        height: 350px;
    }

    .tops_produits {
        width: 65%;
    }






}